@model IEnumerable<DataDictionary.Models.Anwendung>

@{
    ViewBag.Title = "Anwendungen";
}

<h2>Anwendungen</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Datentypen
        </th>
        <th>
            Felder
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @{
                int i = 0;
                foreach (var datentyp in item.MeineDatentypen)
                {
                    i++;
                }
                @: @i <br />
            }
        </td>
        <td>
            @{
                i = 0;
                foreach (var datentyp in item.MeineDatentypen)
                {
                    foreach (var feld in datentyp.MeineFelder)
                    {
                        i++;
                    }
                }
                @: @i <br />
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
